<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.6821150643-hmq50q6mq2lcetmn6injpj1hcvjoac7b</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>ONE Mobile Bold.ttf</string>
		<string>ONE Mobile Light.ttf</string>
		<string>ONE Mobile Regular.ttf</string>
	</array>
</dict>
</plist>
